node_modules/
dist/
.env
.idea/copilot.data.migration.edit.xml
.idea/copilot.data.migration.ask2agent.xml
.idea/copilot.data.migration.ask.xml
.idea/copilot.data.migration.agent.xml
.idea/caches/deviceStreaming.xml
*.iml
.idea/markdown.xml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
